<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            margin-top: 70px;
            background-color: #333;
            color: #fff;
        }
    </style>
</head>

<body>

<div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="display-5 text-center mb-3">Shorten your link by one click 😄</h1>
                <form name="passdata" action="." method="post">
                    <input type="text" class="form-control form-control-lg" name="link" id="input" placeholder="Your link" autocomplete="off" required>
                    <input type="submit" class="form-control alert-success" value="Tap me ❤">
                    <h5><a class="card alert-primary" target="_blank" href={{link}}>{{link}}</a></h5>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>